disc5/schema_example.xml

<!-- Global -->
<?xml version="1.0"?>
<xs:schema targetNamespace="http://ficticiousplace.com/restaurant"
           xmlns:rs="http://ficticiousplace.com/restaurant"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="menu">
   <xs:complexType>
      <xs:sequence>
         <xs:element ref="rs:food" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
</xs:element>

<xs:element name="food">
   <xs:complexType>
      <xs:sequence>
         <xs:element ref="rs:item"/>
         <xs:element ref="tp:ingredient" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
</xs:element>

<!-- Local -->
<?xml version="1.0"?>
<xs:schema targetNamespace="http://ficticiousplace.com/restaurant"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="menu">
   <xs:complexType>
      <xs:sequence>
         <xs:element name="food" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="item" type="xs:string"/>
                    <xs:element name="ingredient" maxOccurs="unbounded" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:element>
